html {
  font-size: 10px;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
}

body {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.9rem;
  line-height: 2.5rem;
  margin-top: 0rem;
  margin-bottom: 0;
}

small {
  font-size: 65%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box {
  border: 1px solid #282c34;
}
.App {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  text-align: center;
}
button,
.button {
  margin-bottom: 0 !important;
  margin-right: .5rem;
}
